@charset "UTF-8";





header > nav > a{
    font-size: 1.4em;
}


.box{
    justify-content: center;

}

.profile{


}

.info > h1 {
    font-size: 3em;
}

#role{
    width: 400px;
    font-size: 1.4em;

}

