@charset "UTF-8";
/*Configuração Resume Profile*/

:root{
    --corback:#0D0D0D;
    --corback1:#262626;
    --cortitle:#F2F2F2;
    --cortext001:#4B0AA6;
    --cortext002:#F2F2F2;
    --coricons:#4B0AA6;
    --coricons1:#F2E205;
    
--font001:'soulmaze';
--font002:'Garet';
--fonttitle:'montserrat';
--font004:'display';

}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
     }

      ul >  li{
        list-style-type:  square;
        margin-left: 10px;
     }

     li > a{
        text-decoration: none;
        color: var(--coricons1);
     }

     h2{
        text-align: center;
        margin-bottom: 20px;
     }

     h3{
        margin-bottom: 10px;
     }


    .cv_profile{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        height: 500px;
        
    }
    
    .cv_profile > h1{
        color: var(--cortitle);
        font-family: var(--font002);
        
    }
    
     #cv-profile-img{
        
            height: 300px;
            width: 300px;
            border-radius: 50%;
            margin-bottom: 50px;
            box-shadow: 0px 5px 15px var(--coricons);

     }
    
     .cv-card{
        color: var(--cortitle);
        background-color: var(--corback1);
        padding: 20px;
        font-family: var(--font002);
        /*sombra de fundo*/
        border-radius: 20px;
        box-shadow: 6px 5px 10px var(--coricons);
        
        
     }
