@charset "UTF-8";
main{
    color: #000;
}

main > h1{
    color: #000;
}
.cv-card{
    color: #000;
    background-color: var(--corback1);
    padding: 20px;
    font-family: var(--font002);
    
    
    
 }