@charset "UTF-8";

@font-face {
    font-family: 'soulmaze';
    src: url(../Fontes/made_soulmaze/MADE\ Soulmaze\ Italic\ PERSONAL\ USE.otf) format('opentype');
}
@font-face {
    font-family: 'Garet';
    src: url(../Fontes/garet/Garet-Book.otf) format('opentype');
}
@font-face {
    font-family: 'altone';
    src: url(../Fontes/altone/Altone\ Trial-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'display';
    src: url(../Fontes/creato_display/CreatoDisplay-Regular.otf) format('opentype');
}

:root{
    --corback:#0D0D0D;
    --corback1:#262626;
    --cortitle:#F2F2F2;
    --cortext001:#4B0AA6;
    --cortext002:#F2F2F2;
    --coricons:#4B0AA6;
    --coricons1:#F2E205;

    --font001:'soulmaze';
    --font002:'Garet';
    --font003:'altone';
    --font004:'display';
}
body{
    background-color: var(--corback); 
    max-width: 100%;
   
    
}

#burguer{
    display: none;
}

header > nav {
    display: flex;
    justify-content: center;
   
}

ul {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}

li > a{
    padding: 10px;
    
}

 li > a:hover{
    border-bottom: 3px solid var(--coricons);
    box-sizing: border-box;
}

.info > h1{
    font-size:3em;

}

#role{
    font-size: 1.4em;
    text-align: center;
}
.description{
    width: 70vw;
    margin: auto;
    
    
}



.projects{
    width: 70vw;
}
.card{
    
    padding-top: 25px;
    box-shadow: none;
}

 .card:hover {
    background-color: var(--coricons);
 
    margin:0px  20px;
    transform: scale(1.3);
    transition: 0.8s ease 0.2s;
}



 