@charset "UTF-8";
/*TODO: Organizar codigo*/
@font-face {
    font-family: 'Garet';
    src: url(../Fontes/garet/Garet-Book.otf) format('opentype');
}


body {max-width: 100%;}

#burguer {display: none;}

header>nav {display: flex; justify-content: center;padding: 10px;}

ul {display: flex;gap: 10px;justify-content: center;align-items: center;}

li>a {padding: 10px; color: #F2F2F2;}

li>a:hover{
    background-color:white ;
    color: #000;
}
#name-container {
    font-size: 3rem;
   
}

.container>h1 {
    font-size: 3rem;

}

.info>h1 {font-size: 3rem;}
/*estilo da descrição sobre mim*/
.description {width: 70vw;}

.lenguages {width: 70vw; }
.projects {width: 70vw; }
.contact {width: 70vw; }

/*configuração de todos cards */
.card {
    padding-top: 25px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
}

.card:hover {
    transform: translate(0px, -20px);
    transition: 0.8s ease 0.2s;
}
/*Configuração do hover nos card's dos projetos*/
.card-proj:hover {
    transform: scale(1.1) translate(0px, -20px);
    transition: 0.8s ease 0.2s;
}
.card-cont{
    height: 60px;
    width: 150px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 30px;
}

/*Configuração tamanho da fonte do footer*/
footer>p {
    font-size: 2rem;
}