@charset "UTF-8";

@font-face {
    font-family: 'soulmaze';
    src: url(../Fontes/made_soulmaze/MADE\ Soulmaze\ Italic\ PERSONAL\ USE.otf) format('opentype');
}
@font-face {
    font-family: 'Garet';
    src: url(../Fontes/garet/Garet-Book.otf) format('opentype');
}
@font-face {
    font-family: 'altone';
    src: url(../Fontes/altone/Altone\ Trial-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'display';
    src: url(../Fontes/creato_display/CreatoDisplay-Regular.otf) format('opentype');
}
/*
OBS:
usar display flex colum
deixar o texto em cima e a imagem em baixo

*/



:root{
    --corback:#262626;
    --corback1:#464646;
    --cortitle:#F2F2F2;
    --cortext001:#BFBFBF;
    --cortext002:#BFBFBF;
    --coricons:#076df2;
    --coricons1:#044BD9;
    
    


--font001:'soulmaze';
--font002:'Garet';
--font003:'altone';
--font004:'display';


/*COLOQUEI FLEX WARAP NOS CARD DELINGUAGENS PARA FICAR UM EM CIMA DO OUTRO QUANDO A TELA DIMINUIR
COLOQUEI VW NA DISCRIÇAO 
*/

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--corback); 
    max-width: 100vw;
   
    
}
header{
    padding: 15px;
   
}
/*Fazer um menu Hamburguer no nav*/
#burguer{
    display: block;
    color: #F2F2F2;
    text-align: center;
    cursor: pointer;
}
header > nav{
    display: none;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family: var(--font004);
    
}

header > nav > ul > li > a{
    text-decoration: none;
    color: var(--cortext001);
    margin: 15px;
    font-family: var(--font002);
    font-size: 22px;
    
    
}

 ul > li  {
    list-style: none;
    margin-bottom: 10px;
}






main{
    padding: 20px;
    margin: auto;
    margin-bottom: 150px;
    

}
/*div profile onde tera meu nome ao lado esquerdo e um icon ao lado direito*/
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px ;
    padding: 10px;
}
.profile > img{
    width: 150px;
    height: 150px;
    margin:0px  15px 10px 0px;
    
}
.info > h1 {
    font-size: 1.6em;
    font-family: var(--font002);
    color: var(--cortitle);
    
}

#role{
   margin-top: 10px;
    font-family: var(--font002);
   color: var(--cortitle);
   width: 210px;
    
}


/*Configuraçoes da div descripition onde terá uma breve descrição sobre mim
*/
.description{
    padding: 15px;
    background-color: var(--corback1);
    border-radius: 20px;
    border-bottom: 5px solid var(--coricons1);


}




.description > h2{
    text-align: center;
    font-size: 2em;
    font-family: var(--font002);
    color: var(--cortitle);
    margin-left: 15px;

}



.description > p {
    font-size: 16px;
    font-family: var(--font002);
    color:var(--cortext001);
    
    text-align: justify;
    padding: 20px;
    
}

/*Fim da configuração da div descripition*/
/*inicio da configuração da div lenguages*/
.lenguages{
    color: var(--cortext001);
    background-color:  var(--corback);
    margin-top: 50px;

 }


 .lenguages > h3{
    
    font-family: var(--font002);
    color: var(--cortitle);
    font-size: 1.5em;
    text-align: center;
 }

 .projects{
    background-color: var(--corback1);
    color: var(--cortitle);
    font-family: var(--font002);
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    border-radius: 20px ;
    border-bottom: 5px solid var(--coricons1);
 }

 .contact{
    margin-top: 50px;
    font-family: var(--font002);
   background-color: var(--corback);
   
 }

 .contact > h3{

    text-align: center;
    color: var(--cortitle);
    font-family: var(--font002);
    font-size: 1.5em;
 }

 /*Configuração card e box*/

.box{
    background-color:var(--corback);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;
 }

.card{
    background-color: var(--corback1);
    font-size: 13px;
    padding: 10px;
    height: 120px;
    width: 100px;
    cursor: pointer;
    /*configuração para centralizar a imagem e o texto*/
    display: flex;
    flex-direction: column;
    align-items: center; /*centralizei o conteudo no meio ^ no eixo y*/
    justify-content: center;/*centralizei o conteudo no meio no eixo x <---->*/
    border-bottom:5px solid var(--coricons1);
    border-radius: 40px 0px 20px 0px;
   
}

.card > p{
    font-family: var(--font002);
    color: var(--cortext001);
    margin-top: 20px;

}

.card > img{
    height: 35px;
    width: 35px;
    
}







.card > p > a{
    text-decoration: none;
    color: var(--cortext001);
}
 


/*Fim da configuração da div card e box*/

 



 