@charset "UTF-8";

@font-face {
    font-family:'marlon' ;
    src: url(../fontes/marlon/fonts/fonnts.com-marlonpro-ultrabold.otf) format("opentype");
}
@font-face {
    font-family: 'Garet';
    src: url(../Fontes/garet/Garet-Book.otf) format('opentype');
}
@font-face {
    font-family: 'IBMPlexMono';
    src: url(../fontes/IBM_Plex_Mono/IBMPlexMono-Regular.ttf) format('truetype');
}


:root {
     --corback: #ffffff;
    --corbackcards: #474747;
    --corbackcards1:#fced1b;
    --cortitle: #000000;
    --cortext001: #000;
    --cortext002: #F2F2F2;
    --coricons1: #000000;

    --fontPrincipal:'Garet' ,sans-serif;
    --fontAlternative:'IBMPlexMono';
    --fontTitle: 'marlon'; 
   
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

body {background-color: var(--corback); overflow-x: hidden;}
    
/* Section de dark mode */
body.darkColor{
    background-color: rgb(37, 37, 37);
}

body.darkColor #burguer{
    color: white;
}




body.darkColor  .container > h1,
body.darkColor .info > p {
  color: #ffffff;
}

body.darkColor  .description{
    background: #383838;
    
}

body.darkColor  .box .card{
    background-color: #383838;
    
}

body.darkColor footer, body.darkColor  footer>p{
    background-color: #383838;
    color: white;
}


/* Fim da section  de dark mode */

header {padding: 15px;}
/*menu hamburger*/
#burguer {
    display: block;
    color: var(--cortext001);
    text-align: center;
    cursor: pointer;
}
/*estiliação dos links do menu*/
header>nav {
    display: none;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family: var(--fontPrincipal);
}

header>nav>ul>li>a {
    background-color:var(--corbackcards);
    color: var(--cortext002);
    text-decoration: none;
    font-family: var(--fontTitle);
    font-size: 2.2rem;
    padding: 0.5rem;
    border: 2px solid black;

}

ul>li {list-style: none;margin-bottom: 30px;}

#darkMode{
    background-color: #fced1b;
    width: 7rem;
    height: 3rem;

    display: flex;
    align-items: center;
    
    position: absolute;
    top: 15px;
    right: 3rem;
    z-index: auto;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    
}
#darkMode>i{
    color: #000;
    margin-left: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block; /* necessário para aplicar transform */
    
}

#darkMode>#moon{display: block;}

#darkMode>#soon{display: none;}

#resume-btn{background-color: var(--corbackcards1);color: var(--cortext001);}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

/*div profile onde tem (Olá eu sou) e uma transiçao com meu nome e 
minha areá de atuação*/

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 10px;
}

.info>.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-container {
    background-color: var(--corbackcards1);
    color: var(--cortext001);
    font-family: var(--fontTitle);

    font-size: 2rem;

    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;

    padding: 2px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
}

.container>h1 {

    font-size: 2rem;
    font-family: var(--fontPrincipal);
    color: var(--cortext001);
    text-align: center;

}

.info>p {
    margin-top: 15px;
    font-size: 2rem;
    text-align: center;
    font-family: var(--fontPrincipal);
    color: var(--cortext001);

}


/*Configuraçoes da div descripition onde terá uma breve descrição sobre mim
*/
.description {
    padding: 15px;
    background-color: var(--corbackcards);
    border: 2px solid black;
    box-shadow: 4px 3px 0px rgb(0, 0, 0);
   

}

.description>h2 {
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--fontTitle);
    color: var(--cortext002);
    margin-left: 15px;
}

.description>p {
    font-size: 2rem;
    font-family: var(--fontPrincipal);
    color: var(--cortext002);
    line-height: 2.5rem;
    text-align: left;
    padding: 20px;
}

span {color:var(--corbackcards1);font-size: 2rem; font-weight: bolder;}/*mudança da cor do texto*/

/*Fim da configuração da div descripition*/

/*inicio da configuração da div lenguages*/
.lenguages { 
    color:var(--cortext001);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    width: 100%;
    background-color: var(--corbackcards1);
    color: var(--cortext001);
    font-family: var(--fontTitle);
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    padding: 4px 10px;
    width: 30rem;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
    
    
}

/*configuração das div projects onde tera meus projetos*/
.projects {
    color: var(--cortitle);
    font-family: var(--fontPrincipal);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*fim da div projects*/

.contact {
    font-family: var(--fontPrincipal);
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Inicio da estilização do rodape*/
footer {
    color: var(--cortitle);
    background-color: var(--corback);
    height: 60px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

footer>p {
    font-size: 1.6rem;
    color: var(--cortitle);
    font-family: var(--fontPrincipal);

}

/*Configuração card e box*/

.box {
    
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    
}

.box-proj {gap: 30px;}

.card {
    background-color: var(--corbackcards);
    padding: 10px;
    height: 120px;
    width: 100px;
    cursor: pointer;
    /*configuração para centralizar a imagem e o texto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*centralizei o conteudo no meio ^ no eixo y*/
    justify-content: center;
    /*centralizei o conteudo no meio no eixo x <---->*/
    gap: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
    
}

.card-proj {
    background-color: var(--corbackcards);

    height: 200px;
    width: 300px;
    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*centralizei o conteudo no meio ^ no eixo y*/
    justify-content: center;
    /*centralizei o conteudo no meio no eixo x <---->*/

}

.card>p {/*configuração dos paragrafos do card*/
    font-family: var(--fontPrincipal);
    font-size: 1.4rem;
    color: var(--cortext002);

}

.card-proj>h4 { font-size: 2rem;}

.card-proj>p {font-size: 1.4rem;}

.card-proj>h4>a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--cortext002);}

.card-cont{
    height: 60px;
    width: 150px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 30px;
}

.card>img {height: 4.5rem; width: 4.5rem;}/*configuração das imagens do card*/

.card>a>img {height: 45px; width: 45px;}

.card>p>a {text-decoration: none; color: var(--cortext002);}/*configuração dos links do card*/

/*Fim da configuração da div card e box*/