@charset "UTF-8";

header > nav > a{
    font-size: 1.4em;
}


.box{
    justify-content: center;

}



.info > h1 {
    font-size: 3em;
}


#role{
    font-size: 1.4em;
text-align: center;
}



.profile > img{
    width: 300px;
    height: 300px;
   
    
   

}

.description{
    width: 70vw;
    margin: auto;
    
}