@charset "UTF-8";

body{
    background-color: var(--corback); 
    max-width: 100%;
   
    
}

/*configuração do link do nav*/
header > nav > a{
    font-size: 1.4em;
}


.box{
    justify-content: center;

}



.info > h1 {
    font-size: 3em;
}

#role{
    font-size: 1.4em;
text-align: center;
}

.description{
    width: 70vw;
    margin: auto;
    
}