@charset "UTF-8";

body{ max-width: 100%;}

/*configuração do link do nav*/
header > nav > a{font-size: 1.4em;}

.box{justify-content: center;}
/*Estilo da apresentação (olá, eu sou)*/
.info > h1 {font-size: 3em;}
/*Estilo da descrição sobre mim*/
.description{width: 70vw;margin: auto;}